# env files
.env

# initial virtual env
jetson-venv-isolated/

# all the images captured by the camera
app/database/captured_images/
app/logs/

# files made by deepface model
*.pkl

# mac files
.DS_Store

other/

**/__pycache__/